{% extends "base.html" %} {% block content %} {% load static %} {% load i18n %}
<!-- CSS only -->


    <style>
        .process-bar-wrap {
            margin-top: 45px;
        }
        @media only screen and (max-width: 700px) {
            .process-bar-wrap {
                margin-top: 75px !important;
            }
        }
        .become-teacher {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            margin: 0 auto !important;
            float: none !important;
        }
        .hight {
            height: 10% !important
        }
        .cart-summary {
            border: 1px solid #EEEEEE;
            padding: 30px;
            border-radius: 3px;
        }
        .cart-summary .summary-card img {
            width: 80px;
            height: 80px
        }

        .signup-wrapper .process-bar .progress-wrap {
    position: relative;
    margin: 0 12px;
    width: calc(100% - 24px);
    height: 6px;
    border-radius: 100px
}



/* line 65, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .track {
    background: #eaeaea;
}


/* line 70, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .bar {
    background: #4479ce;
}


/* line 76, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot {
    background: #fff;
    border: 1.4px solid #e8e8e8;
}


/* line 110, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-active {
    border-color: #699df1;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 114, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-active svg {
    stroke: #57a7e9;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 119, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-current {
    border-color: #df9a97;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 123, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-current svg {
    stroke: #df9a97
}


        
.icn{
    background-color: inherit;
}

.icn-dark{
    background-color: #222831 !important;
    border: 1px solid #646f80!important;
    box-shadow: none !important;
}

.bar{
    background-color: inherit;
}
        
.bar-dark{
    background-color: #8795a8 !important;
}

.progress-wrap.is-active i{
    color: #222831 !important;
}


.mediabout{
    color: rgb(9, 23, 41) !important;
}
  
.mediabout-dark{
   color: rgb(155, 155, 155) !important;
}


.account-type-dark{
    background-color: #14161a !important;
    border: 1px solid rgb(15, 16, 17);
}

.account-type-dark:hover{
    border: 1px solid rgb(27, 94, 133) !important;
}

.signup-wrapper .process-bar {
    background: none !important;
}
.track{
    background: rgb(230, 230, 230) !important;
}
.track-dark{
    background: rgb(88, 91, 99) !important;
}


.is-light{
  border:1px solid rgb(221, 221, 221) !important;
}

.is-light-dark{
  background-color: #222831 !important;
  border: 1px solid #0c0d0f !important;
  color: rgb(175, 175, 175) !important;
}



.signin-button-is-dark{
    background-color: #0a0c0e;
    color: #ccc !important;
    border: 1px solid #060707;
}

.signin-button-is-dark:hover{
    border: 1px solid #060707;
}
.signup-button-is-dark:hover{
    border: 1px solid #060707 !important;
}

.hrrrr{
    
}
    .soci{
        background: #4479ce !important;
        color: #fff;
    }
    .soci-dark{
        background: rgb(169, 189, 255) !important;
        border: 1px solid #050607;
        color: #122b53;
    }

    .socig{
        background: #8f0d0d !important;
        color: rgb(255, 255, 255);
    }
    .socig-dark{
        background: #e68888 !important;
        border: 1px solid #470101;
        color: rgb(71, 1, 1);
    }

    .soci:hover{
        background: #4479ce !important;
        color: #fff;
    }
    .soci-dark:hover{
        background: rgb(169, 189, 255) !important;
        border: 1px solid #050607;
        color: #122b53;
    }

    .socig:hover{
        background: #8f0d0d !important;
        color: rgb(255, 255, 255);
    }
    .socig-dark:hover{
        background: #e68888 !important;
        border: 1px solid #470101;
        color: rgb(71, 1, 1);
    }

.hrrrr-dark{
    background-color: #202329 !important;
}

#div_error{
    color: #df9a97;
}

.input-dark{
    background: none !important;
}


.field{
    background-color: inherit;
}
.field-dark{
    background: #cbd6df !important;
    border: 1px solid #222831 !important;
    color: #030303 !important;
}


.selecttt-dark{
    background-color: rgb(165, 172, 189) !important;
    border: 1px solid rgb(123, 129, 145) !important;
}

.btn-primary{
    background-color: rgb(33, 150, 243)!important;
    color: rgb(254, 254, 255);
    float: right !important;
    border: 1px solid rgb(20, 71, 167) !important;
}

.btn-primary-dark{
    background-color: #323741 !important;
    color: rgb(199, 199, 199) !important;
    float: right !important;
    border: 1px solid  #21242b !important;
    box-shadow: none !important;
}

.cart-summary-dark{
    background-color: rgb(61, 67, 80);
    border: 1px solid rgb(51, 55, 65);
}

.signup-wrapper {
    min-height: 10vh !important;
    position: relative
}


.signup-wrapper .process-panel-wrap .form-panel-dark{
    background-color: rgb(24, 31, 39) !important;
    border: 1px solid rgb(12, 15, 19) !important;;
}

.success-image-reset{
    width: 100%;
    height: 100%;
    align-items: center !important;
    margin: 15px;
}

    </style>
    <div class="products-navigation" style="display: none;">
    </div>
    <div id="shop-page" class="shop-wrapper">
        <div class="container">
            <div class="signup-wrapper signup-wrapper-pad">
                <div class="card card-dark hight">
                    <div class="outer-panel">
                        <div class="outer-panel-inner">
                            <div class="process-title" style="margin-top: 40px;">
                                {% get_current_language as lang %}
                                {% if lang == "ar" %}
                                <h2 id="step-title-1" class="step-title mainpanel is-active mediabout mediabout-dark"
                                    style="font-size: 25px;">رائع, لقد قمنا بارسال رابط اعادة تعيين كلمة المرور الى بريدك الالكتروني</h2>
                                    {% else %}
                                    <h2 id="step-title-1" class="step-title mainpanel is-active mediabout mediabout-dark"
                                        style="font-size: 25px;">great we have sent an email to your inbox.</h2>
                                    {% endif %}
                            </div> 
                            <div id="signup-panel-3" class="process-panel-wrap is-narrow is-active">
                                <div class="form-panel form-panel-dark">
                                    <img class="success-image-reset" src="{% static 'assets/img/reset.png' %}" alt="">
                                    <div class="success-text">
                                        {% get_current_language as lang %}
                                        {% if lang == "ar" %}
                                        <h3  class="mediabout mediabout-dark"> من فضلك قم بالتأكد من بريدك الالكتروني, في حال عدم تلقييك بريد قم بإعادة العملية</h3>
                                        {% else %}
                                        <h3 class="mediabout mediabout-dark"> {% trans 'please check your email box.' %}</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        <!-- Signup steps -->
    </div>

    <!-- Page and UI related js -->
    <script>        
        // setTimeout(() =>{
        //     {% if lang == "ar/" %}
        //         location.href = '/ar/';
        //     {% else %}
        //         location.href = '/en/';
        //     {% endif %}
        // }, 5000)            


    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '6b722eb5f4eb4970707cac5bf4d217dec23526fe';
    window.smartsupp||(function(d) {
        var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
        s=d.getElementsByTagName('script')[0];c=d.createElement('script');
        c.type='text/javascript';c.charset='utf-8';c.async=true;
        c.src='//www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
{% endblock %}  