{% extends "base.html" %}

{% block content %}
    {% load static %}

    {% load i18n %}
    
    <style>
      
        .process-bar-wrap {
            margin-top: 45px;
        }

        @media only screen and (max-width: 700px) {
            .process-bar-wrap {
                margin-top: 75px !important;
            }
        }

        .signup-wrapper .process-bar .progress-wrap {
    position: relative;
    margin: 0 12px;
    width: calc(100% - 24px);
    height: 6px;
    border-radius: 100px
}



/* line 65, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .track {
    background: #eaeaea;
}


/* line 70, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .bar {
    background: #4479ce;
}


/* line 76, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot {
    background: #fff;
    border: 1.4px solid #e8e8e8;
}


/* line 110, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-active {
    border-color: #699df1;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 114, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-active svg {
    stroke: #57a7e9;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 119, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-current {
    border-color: #df9a97;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}


/* line 123, src/assets/scss/pages/_app-signup.scss */

.signup-wrapper .process-bar .progress-wrap .dot.is-current svg {
    stroke: #df9a97
}


        
        .icn{
            background-color: inherit;
        }

        .icn-dark{
            background-color: #222831 !important;
            border: 1px solid #646f80!important;
            box-shadow: none !important;
        }

        .bar{
            background-color: inherit;
        }
        .bar-dark{
            background-color: #8795a8 !important;
        }

        .progress-wrap.is-active i{
            color: #222831 !important;
        }


.mediabout{
    color: rgb(9, 23, 41) !important;
}
  
.mediabout-dark{
   color: rgb(155, 155, 155) !important;
}


.account-type-dark{
    background-color: #14161a !important;
    border: 1px solid rgb(15, 16, 17);
}

.account-type-dark:hover{
    border: 1px solid rgb(27, 94, 133) !important;
}

.signup-wrapper .process-bar {
    background: none !important;
}
.track{
    background: rgb(230, 230, 230) !important;
}
.track-dark{
    background: rgb(88, 91, 99) !important;
}


.is-light{
  border:1px solid rgb(221, 221, 221) !important;
}

.is-light-dark{
  background-color: #222831 !important;
  border: 1px solid #0c0d0f !important;
  color: rgb(175, 175, 175) !important;
}



.signin-button-is-dark{
    background-color: #0a0c0e;
    color: #ccc !important;
    border: 1px solid #060707;
}

.signin-button-is-dark:hover{
    border: 1px solid #060707;
}
.signup-button-is-dark:hover{
    border: 1px solid #060707 !important;
}

.hrrrr{
    
}
    .soci{
        background: #4479ce !important;
        color: #fff;
    }
    .soci-dark{
        background: rgb(169, 189, 255) !important;
        border: 1px solid #050607;
        color: #122b53;
    }

    .socig{
        background: #8f0d0d !important;
        color: rgb(255, 255, 255);
    }
    .socig-dark{
        background: #e68888 !important;
        border: 1px solid #470101;
        color: rgb(71, 1, 1);
    }

    .soci:hover{
        background: #4479ce !important;
        color: #fff;
    }
    .soci-dark:hover{
        background: rgb(169, 189, 255) !important;
        border: 1px solid #050607;
        color: #122b53;
    }

    .socig:hover{
        background: #8f0d0d !important;
        color: rgb(255, 255, 255);
    }
    .socig-dark:hover{
        background: #e68888 !important;
        border: 1px solid #470101;
        color: rgb(71, 1, 1);
    }

.hrrrr-dark{
    background-color: #202329 !important;
}

#div_error{
    color: #df9a97;
}

.input-dark{
    background: none !important;
}


.field{
    background-color: inherit;
}
.field-dark{
    background: #cbd6df !important;
    border: 1px solid #222831 !important;
    color: #030303 !important;
}

.account-type img{
    width: 142px !important; 
    height:300px !important;
}

@media (max-width: 624px) {


.account-type .mediabout{
    width: 100% !important; 
    height:30px !important;   
}

}

.success-text-dark h3{
    color: rgb(233, 245, 250);
}

.success-text-dark p{
    color: rgb(230, 237, 247);
}

.signup-wrapper .process-panel-wrap .form-panel-dark{
    background-color: rgb(24, 31, 39) !important;
    border: 1px solid rgb(12, 15, 19) !important;;
}

.signup-wrapper .process-panel-wrap .form-panel-dark h3{
    color: rgb(233, 245, 250) !important;
}

.signup-wrapper .process-panel-wrap .form-panel-dark p{
    color: rgb(230, 237, 247) !important;
}

.signup-wrapper {
    min-height: 100vh;
    position: relative
}



    </style>

    <div class="products-navigation" style="display: none;">
    </div>

    <div id="shop-page" class="shop-wrapper">
        <!-- Signup steps -->
        <div class="container">
            <div class="signup-wrapper signup-wrapper-pad">
                <div class="card card-dark">
                    <div class="process-bar-wrap">
                        <div class="process-bar ">
                            <div class="progress-wrap">
                                <div class="track track-dark"></div>
                                <div class="bar bar-dark"></div>
                                <div id="step-dot-1" class="dot is-first is-active is-current icn icn-dark" data-step="0">
                                    <i data-feather="smile" style=""></i>
                                </div>
                                <div id="step-dot-2" class="dot is-second icn icn-dark" data-step="50">
                                    <i data-feather="user"></i>
                                </div>
                                <div id="step-dot-3" class="dot is-third icn icn-dark" data-step="100">
                                    <i data-feather="flag"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="outer-panel">
                        <div class="outer-panel-inner">
                            <div class="process-title" style="margin-top: 40px;">
                                <h2 id="step-title-1" class="step-title mainpanel is-active mediabout-dark mediabout"
                                    style="font-size: 25px;">{% trans 'Sign up' %}</h2>
                                <h2 id="step-title-2" class="step-title mediabout-dark mediabout"
                                    style="font-size: 25px;">{% trans 'Tell us more about you.' %}</h2>
                                <h2 id="step-title-3" class="step-title mediabout-dark mediabout"
                                    style="font-size: 25px;">{% trans 'we sent you an email to activate your account.' %}</h2>
                            </div>
                            <input type="hidden" id="type" name="type"/>
                            <input type="hidden" id="subcategory" name="subcategory"/>
                            <input type="hidden" id="category" name="category"/>

                            <div id="signup-panel-1" class="process-panel-wrap mainpanel is-active">
                                <div class="columns">
                                    <!-- is-offset-3 -->
                                    {% if lang == 'ar/' %}
                                        <div class="column is-3 ">
                                        </div>
                                        <div class="column is-3 ">
                                            <div class="account-type account-type-dark">
                                                <img src="{% static 'assets/img/student.svg' %}"
                                                     style="" alt="">
                                                <h3 class="mediabout mediabout-dark">طالب </h3>
                                                <a class="button is-fullwidth process-button is-light is-light-dark "
                                                   onclick="setUerType('student')" data-step="step-dot-2">
                                                    {% trans 'Continue' %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="column is-3 ">
                                            <div class="account-type account-type-dark">
                                                <img src="{% static 'assets/img/teach.svg' %}" alt="">
                                                <h3 class="mediabout mediabout-dark">معلم </h3>
                                                <a class="button is-fullwidth process-button is-light is-light-dark"
                                                   onclick="setUerType('teacher')">
                                                    {% trans 'Continue' %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="column is-3 ">
                                        </div>
                                    {% else %}
                                        <div class="column is-3 is-offset-3">
                                            <div class="account-type account-type-dark">
                                                <img src="{% static 'assets/img/student.svg' %}"
                                                     style="" alt="">
                                                <h3 class="mediabout mediabout-dark">Student </h3>
                                                <a class="button is-fullwidth process-button is-light is-light-dark "
                                                   onclick="setUerType('student')" data-step="step-dot-2">
                                                    {% trans 'Continue' %}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="column is-3">
                                            <div class="account-type account-type-dark">
                                                <img src="{% static 'assets/img/teach.svg' %}" alt="">
                                                <h3 class="mediabout mediabout-dark">Teacher </h3>
                                                <a class="button is-fullwidth process-button is-light is-light-dark"
                                                   onclick="setUerType('teacher')">
                                                    {% trans 'Continue' %}
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <hr class="hrrrr hrrrr-dark">
                                <p class="mediabout mediabout-dark" style="color: grey;text-align: center !important;">{% trans 'Or' %}</p><br>

                                <div class="signupvia">
                                    <div class="columns ">
                                        <div class="column  " style="">
                                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="button socig socig-dark"
                                               style="">{% trans 'Sign up via Gmail' %}
                                                &nbsp;<i class="mdi mdi-gmail"></i>
                                            </a>
                                        </div>
                                        <div class="column " style="">
                                            <a href="{% url 'social:begin' 'facebook' %}" class="button  soci soci-dark"
                                               style="">{% trans 'Sign up via Facebook' %}
                                                &nbsp;<i class="mdi mdi-facebook"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="signup-panel-1" style="display: none;" class="process-panel-wrap teacherpanel is-active">
                                {% comment %} <div class="flex-chose" id="added-categories">
                                    <div id="selected_categories" class="flex-box"></div>
                                    <a class="cover-edit modal-trigger"
                                       style="background-color: rgb(71, 70, 70);color: #fff;padding:10px;border-radius: 3px;"
                                       data-modal="user-photos-modal">
                                        <i class="mdi mdi-plus"></i>
                                        <span>{% trans 'Add Categories' %}</span>
                                    </a>
                                </div>  {% endcomment %}
                                <center>
                                    <h2 id="step-title-2" class="step-title mediabout-dark mediabout"
                                        style="font-size: 33px; margin-bottom:50px">{% trans 'What are you going to teach?' %}</h2>
                                    <div class="combo-item">
                                        {% if lang == 'ar/' %}
                                        <h4 class="mediabout mediabout-dark">اختر الفئة</h4>
                                        {% else %}
                                        <h4 class="mediabout mediabout-dark">Select category</h4>
                                        {% endif %}
                                        <div class="select selecttt">
                                            <select class="selecttt  firstsubcategory" id="subcategory" class="subcategory" style="border-radius: 3px;">
                                                <option></option>
                                                {% for i in objC %}
                                                    {% if lang == 'ar/' %}
                                                        <option value="{{ i.id }}" >{{ i.namear }}</option>
                                                    {% else %}
                                                        <option value="{{ i.id }}" >{{ i.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="combo-item secondsubsubcategorydiv" style="margin-top: 40px">
                                        <h4 class="mediabout mediabout-dark">Select subcategory</h4>
                                        <div class="select selecttt">
                                            <select class="selecttt secondsubsubcategories" id="secondsubsubcategories" style="border-radius:3px; width:220px">
                                            </select>
                                        </div>
                                    </div>
                                </center>
                                <div class="buttons">
                                    <a class="button signin-button signin-button-is-dark process-button is-next" data-step="step-dot-2"
                                       onclick="checkCategory()">{% trans 'Next' %}</a>
                                    <a class="button signup-button signup-button-is-dark process-button" href="/signup">{% trans 'Back' %}</a>
                                </div>
                            </div>

                            <div class="text-align-center" style="text-align:center;" id="div_error"></div>
                            <div id="signup-panel-2" class="process-panel-wrap is-narrow ">
                                <div class="form-panel account-type account-type-dark">
                                    <div class="field field-dark" style="">
                                        <div class="control">
                                            <input type="text" class="input input-dark" style="margin-top: 5px;" id="first_name" name="first_name"
                                                   placeholder="{% trans 'Enter your first name' %}">
                                        </div>
                                    </div>
                                    <div class="field field-dark">
                                        <div class="control">
                                            <input type="text" class="input input-dark" style="margin-top: 5px;" id="last_name" name="last_name"
                                                   placeholder="{% trans 'Enter your last name' %}">
                                        </div>
                                    </div>
                                    <div class="field field-dark">
                                        <div class="control">
                                            <input type="email" class="input input-dark" style="margin-top: 5px;" id="email" name="email"
                                                   placeholder="{% trans 'Enter your email address' %}">
                                        </div>
                                    </div>
                                    <div class="field field-dark">
                                        <div class="control">
                                            <input type="password" class="input input-dark" style="margin-top: 5px;" id="password" name="password"
                                                   placeholder="{% trans 'Choose a password' %}">
                                        </div>
                                    </div>
                                    <div class="field field-dark">
                                        <div class="control">
                                            <input type="password" class="input input-dark" style="margin-top: 5px;" id="confirm_password"
                                                   name="confirm_password"
                                                   placeholder="{% trans 'Repeat your password' %}">
                                        </div>
                                    </div>
                                </div>

                                <div class="buttons">
                                    {% get_current_language as lang %}
                                    {% if lang == "ar" %}

                                    <a class="button process-button is-next signin-button signin-button-is-dark" id="registernext"
                                       onclick="return Validate()">{% trans 'Next' %}</a>
                                       <a class="button process-button signup-button signup-button-is-dark" data-step="step-dot-1">{% trans 'Back' %}</a>
                                    
                                    {% else %}   

                                    <a class="button process-button  signin-button signin-button-is-dark" data-step="step-dot-1">{% trans 'Back' %}</a>

                                    <a class="button process-button is-next signup-button signup-button-is-dark" id="registernext"
                                       onclick="return Validate()">{% trans 'Next' %}</a>
                                    {% endif %}   

                                </div>
                            </div>

                            <div id="signup-panel-3" class="process-panel-wrap is-narrow">
                                <div class="form-panel form-panel-dark">
                                    <img class="success-image success-image-2" src="{% static 'assets/img/mailsent.png' %}" alt="">
                                    {% get_current_language as lang %}
                                    {% if lang == "ar" %}
                                    <div class="success-text">
                                        <h3>تم تسجيلك بنجاح, شكرا لك</h3>
                                        <p> قمنا بإرسال رابط لتنشيط حسابك, تأكد من ايميلك</p>
                                    </div>
                                    {% else %}
                                    <div class="success-text">
                                        <h3>{% trans 'Congratz, you successfully created your account.' %}</h3>
                                        <p> {% trans 'We just sent you a confirmation email. Please confirm your account within 24 hours.' %}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Signup steps -->

    </div>

{% endblock %} {% block script %}

    <!-- Page and UI related js -->
    <script>
        var blobImg = '';
        var uploadImg = '';

        function setUerType(type) {
            if (type == 'teacher') {
                $('.mainpanel').hide();
                $('.teacherpanel').show();
            }
            $("#type").val(type);
        }

        function addSubCategory() {
            $('#user-photos-modal').removeClass('is-active');
            var category_html = ''
            category_html += '<a class="cover-edit" style="background-color: rgb(202, 202, 202);color: rgb(49, 49, 49);padding:10px;border-radius: 3px;">'
            category_html += '<i class="mdi mdi-tag"></i><span>' + $("#category").val() + '</span></a>'
            // $("#added-categories").prepend(category_html);
            $("#selected_categories").append(category_html);

            // $('#step-dot-2').trigger('click');
        }

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        function addUserCategory(obj) {
            $("#subcategory").val($(obj).attr('subId'));
        }
        
        $(".secondsubsubcategories").on("change", function(e){
            console.log("secondsubsubcategories", $(this).val())
            $("#subcategory").val($(this).val());
        });


        $(".firstsubcategory").on("change", function(e){
            console.log($(this).val())         
            subCategory($(this).val())
        });

        function subCategory(cat_id) {
            console.log("cat_id - ", cat_id);            
            var action = "/getsubcategory";
            $(".secondsubsubcategories").html("")
            $.ajax({
                url: action,
                type: 'POST',
                dataType: 'json',
                // headers: {'X-CSRFToken': $("#hd_csrf").val(),},
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: {
                    category_id: cat_id
                },
                beforeSend: function () {
                    console.log("Beforesend")
                },
                success: function (data) {
                    $(".secondsubsubcategorydiv").css("display","block");
                    for (var c = 0; c < data.subcat_list.length; c++) {
                        var html = '';
                        {% if lang == 'ar/' %}
                            html += '<option value="' + data.subcat_list[c].id + '">' + data.subcat_list[c].namear  + '</option>';
                        {% else %}
                            html += '<option value="' + data.subcat_list[c].id + '">' + data.subcat_list[c].name  + '</option>';
                        {% endif %}
                        $(".secondsubsubcategories").append(html);
                    }
                    if (data.msg == "already") {
                        $("#div_error").html("Email is already exist.");
                        return false;
                    } else {
                        return false
                    }
                },
                error: function (err) {
                    return false
                }
            })
            return false
            
        }

        function Validate() {

            $("#div_error").html("");
            if ($("#first_name").val() == "") {
                $("#div_error").html("{% trans 'Please enter the first name' %}");
                return false;
            } else if ($("#last_name").val() == "") {
                $("#div_error").html("{% trans 'Please enter the last name' %}");
                return false;
            } else if (!isEmail($("#email").val()) || $("#email").val() == "") {
                $("#div_error").html("{% trans 'Please enter the valid email' %}");
                return false;
            }
            // Ajax start
            var action = "/check-email";
            $.ajax({
                url: action,
                type: 'POST',
                dataType: 'json',
                // headers: {'X-CSRFToken': $("#hd_csrf").val(),},
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: {
                    email: $("#email").val(),
                },
                beforeSend: function () {
                    console.log("Beforesend")
                },
                success: function (data) {
                    console.log(data)
                    if (data.msg == "already") {
                        $("#div_error").html("Email is already exist.");
                        return false;
                    } else {
                        {#$('#step-dot-3').trigger('click');#}
                        signup();
                        return false
                    }
                },
                error: function (err) {
                    return false
                }
            })
            return false
        }

        function signup() {

            $('#registernext').addClass(' is-loading');
            $('#registernext').removeClass(' is-loading');
            $("#div_error").html("");
            if ($("#password").val().trim().length < 6) {
                $("#div_error").html("{% trans 'Password must be greater than 5 digit' %}");
                return false
            }
            if ($("#password").val() == "") {
                $("#div_error").html("{% trans 'Please enter the password' %}");
                return false
            } else if ($("#confirm_password").val() == "") {
                $("#div_error").html("{% trans 'Please enter the confirm password' %}");
                return false
            } else if ($("#confirm_password").val() == $("#password").val() == "") {
                $("#div_error").html("{% trans 'password is not match. Please re-enter the correct password.' %}");
                return false
            }

            console.log('$("#subcategory").val() = ', $("#subcategory").val())
            $('#registernext').addClass(' is-loading');
            var formData = new FormData();

            formData.append('file', uploadImg);
            formData.append('first_name', $("#first_name").val());
            formData.append('last_name', $("#last_name").val());
            formData.append('email', $("#email").val());
            formData.append('password', $("#password").val());
            formData.append('phone_number', 'none');
            formData.append('type', $("#type").val());
            formData.append('subcategory', $("#subcategory").val());

            console.log($("#first_name").val())
            $('#registernext').addClass('is-loading');
            // Ajax start
            var action = "/register-user";
            $.ajax({
                url: action,
                type: 'POST',
                dataType: 'json',
                async: false,
                contentType: false,
                processData: false,
                data: formData,

                beforeSend: function () {

                },
                success: function (data) {
                    if (data.msg == "success") {
                        $('#registernext').removeClass(' is-loading');
                        $('#step-dot-3').trigger('click');
                        return false;
                    } else if (data.msg == 'already') {

                        $("#div_error").html("Email is already exist.");
                        return false;
                    } else {
                        $("#div_error").html(data.msg);
                        return false;
                    }
                },
                error: function (err) {
                    return false
                }
            })
            return false
        }
        const checkCategory = (event) => {
            var selected_cat = $('#selected_categories').find('a');
            if (selected_cat < 1) {
                event.preventDefault();
            }
        };

        $(".secondsubsubcategorydiv").css("display","none")

        $(document).ready(function(){
           feather.replace();           
            $('button').click(function(){
                $('.alert').html('<i data-feather="activity"></i>');
            });  
        });

    </script>
    <script src="{% static 'assets/js/signup.js' %}"></script>
{% endblock %}